@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>
    <hr />

    <div class="mt-4">
        <h4>Information Collection and Use</h4>
        <p>
            We collect various types of information for providing and improving our service. While using our service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you.
        </p>

        <h4>Data Security</h4>
        <p>
            The security of your data is important to us. We strive to use commercially acceptable means to protect your personal information but cannot guarantee its absolute security.
        </p>

        <h4>Changes to This Privacy Policy</h4>
        <p>
            We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
        </p>

        <h4>Contact Us</h4>
        <p>
            If you have any questions about this Privacy Policy, please contact us.
        </p>
    </div>
</div>

<style>
    h4 {
        color: #007bff;
        margin-top: 2rem;
    }
</style> 